<mat-accordion>
    <mat-expansion-panel class="mat-elevation-z8" [expanded]="true">
        <mat-expansion-panel-header class="panel-header">
            <mat-panel-title>
                <div class="align-icon-title">
                    <mat-icon style="margin-right: 10px;">desktop_windows</mat-icon><span>Monitor de Servidores</span>
                </div>
                <button mat-icon-button (click)="$event.stopPropagation();" title="Fullscreen">
                    <mat-icon>aspect_ratio</mat-icon>
                </button>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="" fxLayout="column">
            <div class="container-min-height-110px">

            </div>
        </form>            
        
    </mat-expansion-panel>
</mat-accordion>