<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%" fxFlex.md="60%" fxFlex.sm="50%" fxFlex.xs="95%" class="mat-elevation-z8">
        <mat-card>
            <mat-card-content>
                <div fxFlex="50%" fxFlex.sm="95%" fxFlex.xs="950%">
                    
                    <form *ngIf="form" [formGroup]="form">
                        <h2>{{!form.get('id').value ? 'Novo' : 'Editar'}} Perfil</h2>
                        
                        <mat-form-field class="full-width">
                            <input id="nome" matInput placeholder="Nome" formControlName="nome" required>
                            <mat-error *ngIf="form.get('nome').hasError('required')">Nome é obrigatório</mat-error>
                            <mat-icon matSuffix>person_add</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <mat-select id="permissoes" placeholder="Permissões" formControlName="permissoes" [compareWith]="compararIdsObjetos" multiple>
                                <mat-select-filter [placeholder]="'Filtro'" [displayMember]="'nome'" [noResultsMessage]="'Nenhum resultado'" [array]="permissoes" (filteredReturn)="permissoesFiltered=$event"></mat-select-filter>
                                <mat-option *ngFor="let permissao of permissoesFiltered" [value]="permissao">{{permissao.nome}}</mat-option>
                            </mat-select>
                        </mat-form-field>
    
                        <div class="text-right">
                            <button type="button" mat-raised-button routerLink="/perfis" matTooltip="Cancelar" style="margin-right: 10px;">Cancelar</button>
                            <button type="button" mat-raised-button color="primary" (click)="salvar()" matTooltip="Salvar Perfil">Salvar</button>
                        </div>
                    </form>

                </div>             
            </mat-card-content>
        </mat-card>
    </div>
</div>        